data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

models/weights/*
!models/weights/.gitkeep

*.pth
*.pt
*.ckpt

*.json
!configs/*.json

summary/
results/
outputs/
*.log

__pycache__/
*.pyc
.ipynb_checkpoints/

.DS_Store
.venv/
venv/
